<template>
  <div id="app">
    <av-header brand="Chat with Vue.js"></av-header>
    <router-view></router-view>
  </div>
</template>

<style>
</style>

<script>
  import Header from "./Header.vue";
  import Panel from "./Panel.vue";

  export default {
    components: {
      'av-header': Header,
      'av-panel': Panel
    }
  }
</script>
