<template>
    <button class="btn btn-{{type}} btn-{{size}}" type="button">{{ name }}</button>
</template>
<style>

</style>
<script>
    export default{
        data(){
            return{}
        },
        props: ['name', 'type', 'size']
    }
</script>
