<template>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" v-link="{ path: '/'}">
                    {{ brand }}
                </a>
            </div>
        </div>
    </nav>
</template>

<style>

</style>

<script>
    export default {
        data() {
            return {}
        },
        props: ['brand'],
        components: {}
    }
</script>
