<template>
    <div class="panel panel-primary" id="chat">
        <div class="panel-heading">
            <i class="fa fa-whatsapp fa-lg" aria-hidden="true"></i> Chat
        </div>
        <div class="panel-body">
            <div class="wrapper" v-for="m in messages">
                <img v-bind:src="m.photo" class="avatar-frame pull-left"/>
                <h4 class="username">{{ m.name }}</h4>
                <span>{{ m.text }}</span>
            </div>
        </div>
        <div class="panel-footer">
            <div class="input-group">
                <input type="text" placeholder="Type a message ..." class="form-control input-sm" v-model="message">
                <span class="input-group-btn">
                    <av-button name="Send" type="success" size="sm" @click="sendMessage()"></av-button>
                </span>
            </div>
        </div>
    </div>
</template>

<style scoped>
    .wrapper{
        height: auto;
        margin-bottom: 20px;
    }
    .avatar-frame{
        border: 1px solid #c7b89e;
    }
    .avatar-frame, .avatar-frame img{
        margin-right: 10px;
        width: 50px;
        height: 50px;
        -webkit-border-radius: 30px; /* Saf3+, Chrome */
        border-radius: 30px; /* Opera 10.5, IE 9 */
    }
</style>

<script>
    import md5  from "md5"
    import Button from "./Button.vue"
    import firebase from "../config/firebase"
    const db = firebase.database();

    export default {
        data() {
            return {
                message: '',
                user: {
                    email: "avinicius.adorno@gmail.com",
                    name: "Anderson Vinicius"
                }
            }
        },
        created: function() {
            let roomRef = `chat/rooms/${this.$route.params.room}`;
            this.$bindAsArray('messages', db.ref(`${roomRef}/messages`));
            this.$set("user.photo", `http://www.gravatar.com/avatar/${md5(this.user.email)}.jpg`);
        },
        methods: {
            isUser(email) {
                return this.user.email === email;
            },
            sendMessage() {
                this.$firebaseRefs.messages.push({
                    name: this.user.name,
                    email: this.user.email,
                    text: this.message,
                    photo: this.user.photo
                });
            }
        },
        components:{
            'av-button': Button
        }
    }
</script>
