<template>
    <div class="col-md-4" v-for="room in rooms">
        <div class="panel panel-primary">
            <div class="panel-heading">{{ room.name }}</div>
            <div class="panel-body">
                {{ room.description }}
                <br>
                <a @click="goToChat($event, room['.key'])">Enter</a>
            </div>
        </div>
    </div>
</template>
<style scoped>
    a {
        cursor: pointer;
    }
</style>
<script>
    import Button from "./Button.vue"
    import firebase from "../config/firebase"
    const db = firebase.database();

    const rooms = [
        {id: "001", name: "PHP", description: "PHP Extreme"},
        {id: "002", name: "JavaScript", description: "Future web with JS"},
        {id: "003", name: "Ruby", description: "Rails application"},
        {id: "004", name: "NodeJS", description: "Future web with NodeJS"}
    ];

    export default {
        firebase: {
            rooms: db.ref("chat/rooms")
        },
        methods: {
            goToChat: function (event, room) {
                event.preventDefault();
                this.$route.router.go(`/chat/${room}`);
            }
        },
//        ready: function() {
//            let chatRef = db.ref("chat");
//            let roomsChildren = chatRef.child("rooms");
//            rooms.forEach(function(room) {
//                roomsChildren.child(room.id).set({
//                    name: room.name,
//                    description: room.description
//                });
//            });
//        },
        components: {
            'av-button': Button
        }
    }
</script>
